@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  color: #4C2B42;
}

nav {
  background: #669999;
  margin: 0;
  position: fixed; 
  width: 100vw;
}

#nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
  padding: .2%;
  color: #FBCC32;
  font-weight: 700;
  font-size: 1.4em;
}

#main {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 7%;
}

#footer {
  background: #4D2B43;
  color: #C66403;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#my-deets {
  margin: 1.5%;
}

#contact-deets {
  margin: 1.5%;
}

.flush-top {
  padding: 0;
  margin: 0;
}

.block {
  display: block;
}