@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;900&display=swap');

/******** Global ********/ 
html,
body {
  padding: 0;
  margin: 0;
  overflow: overlay;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

.block {
  display: block;
}

.hide {
  display: none;
}
/******** Body ********/ 
#about {
  padding-top: 100px;
}

#about p {
  margin-left: 20%;
  margin-right: 20%;
}

#languages {
  margin-top: 1%;
}

#main {
  margin-top: 10%;
  margin-bottom: 10%;
}

#hello {
  display: inline;
  font-size: 1.3em;
  font-weight: 900;
  color: #C66403;
}


h2 {
  color: #C66403;
  font-size: 2em;
  font-weight: 900;
  padding-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 1%;
}

h3 {
  color: #4D2B43;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 1.7em;
}

h4, p, li {
  margin-left: 25%;
  margin-right: 25%;
  font-size: 1.3em;
}

.details {
  margin-left: 25%;
  margin-right: 25%;
  color: #4D2B43;
  font-weight: 700;
  font-size: 1.05em;
  cursor: pointer;
}

.repo {
  margin-left: 25%;
  margin-right: 25%;
  color: #669999;
  font-weight: 700;
  font-size: 1.05em;
}

#main a:hover {
  font-style: italic;
}

#main ul {
  list-style: none;
}

#main ul li::before {
  content: "\2022";  
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
  color: #669999;
}

.top-anchor {
  padding-top: 10px;
  margin-top: -10px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

.anchor {
  padding-top: 50px;
  margin-top: -50px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

.italic {
  font-style: italic;
  font-size: 1.1em
}

.flush {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.less-flush {
  padding-top: 10px;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.even-less-flush {
  padding-top: 30px;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.offset {
  padding-left: 15px;
}

/******** Nav ********/ 
nav {
  background: #669999;
  margin: 0;
  position: fixed; 
  width: 100vw;
}

#nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2%;
  margin-right: 6%;
  padding: .2%;
  color: #FBCC32;
  font-weight: 700;
  font-size: 1.4em;
}

nav a:hover {
  color: #4D2B43;
}

#logo:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/******** Footer ********/ 
#footer {
  background: #4D2B43;
  color: #C66403;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .9em;
}

#footer h2 {
  color: #C66403;
}

#footer p {
  color: #C66403;
  font-weight: 700;
}

#footer a {
  color: #C66403;
  font-weight: 700;
}

#footer a:hover {
  color: #669999;
}

#personal {
  margin: 2.5%;
}

#contact {
  margin: 2.5%;
  font-size: 1.3em;
}

.flush-foot {
  padding: 0;
  margin: 0;
}

/******** Scroll Bar ********/ 
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #FBCC32;
  border-radius: 8px;
}

/******** Mobile ********/ 
@media screen and (min-width: 768px) {
  .mobile-nav {
    display: none!important;
    width: 0;
  }

  .mobile-break {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  html,
  body {
    padding: 0;
    margin: 0;
    overflow: overlay;
    width: 100%;
  }

  .top-anchor {
    padding-top: 150px;
    margin-top: -150px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
  }
  
  .anchor {
    padding-top: 80px;
    margin-top: -80px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
  }

  #about {
    margin-top: 1px;
  }

 #future-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 5px 2px 10px;
    padding: .2%;
  }

  #nav-links {
    position: relative;
    display: inline;
  }

  .hamburger {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    z-index: 1;
    position: relative;
    width: 100px;
  }

  .desktop-nav {
    display: none!important;
  }

  #mobile-links > ul {
    padding-inline-start: 3%;
  }

  .menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    height: 100vh;
    width: 0;
    max-width: 100vw;
  }
  
  .menuNav.showMenu {
    display: block;
    width: 100vw;
    height: 30vh;
    background: #669999;
    color: #FBCC32;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: 0px 1px 20px 0px rgba(102, 153, 153);
  }

  .menuNav a {
    margin-top: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
  }

  .menuNav li:first-child {
    margin-top: 5%;
  }

  #about p {
    margin-left: 5%;
    margin-right: 5%;
  }

  h2 {
    font-size: 1.7em;
    font-weight: 900;
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
  }
  
  #main h3, h4, p, li{
    margin-left: 7%;
    margin-right: 7%;
    font-size: 1.3em;
  }

  #main h3 {
    font-size: 1.4em;
    display: inline;
    margin-left: 2%;
    margin-right: 4%;
  }

  #main h4 {
    font-size: 1.1em;
    margin-left: 9%;
  }


  #main a {
    margin-left: 7%;
    font-weight: 700;
    font-size: 1.15em;
  }

  #lang-specs {
    margin-left: 8%;
    margin-right: 8%;
  }

  .project-box {
    margin-bottom: 5%;
  }

  .details {
    margin-left: 3%!important;
    margin-right: 6%;
  }

  .bottom {
    margin-bottom: 5%;
  }

  #footer {
    font-size: 12px;
    width: 100vw;
    height: 20vh;
    align-items: center;
    justify-content: space-around;
    padding-top: 8%;
    padding-bottom: 8%;
  }

  #personal {
    font-size: 1.2em;
  }

  #contact a {
    border: 2px solid #669999;
    padding: 1.5px;
    margin: 2px;
    color: #669999;
    display: block;
    text-align: center;
    border-radius: 3px;
  }
}
  